.customer_register {
 padding-top: 15%;
  background-image: url("../../images/customer1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.customer_register_main{
margin-top: 5%;
padding: 10%;
}
.customer_register_form {
  padding: 2%;
  margin: 0 8%;
}

.customer_register {
  padding-top: 5%;
}
.customer_login {
  background-image: url("../../images/customer2.png");
  background-repeat: no-repeat;
  background-size: cover;
color: aliceblue;
  padding: 5%;
}
.customer_login_main {
  margin: 5%;
}
.customer_login_form {
  padding: 6%;
  margin: 0 8%;
}

.customer_register_img {
  padding-top: 30%;
}


/* Customer Forgetpassword */

.customer-img{
  margin-top: 50px;
  height: 120vh;
  width: 100%;
}
.customerforgetpswd-h1{
  padding-top: 30px;
  color: #89B7BA;
}
.customer-forgetpswd-box{
  width:90%;
  height: 80vh;
  top: 191px;
  left: 900px;
  gap: 0px;
  border-radius: 18px ;
  opacity: 0px;
  background-color: #CAFAE2;
  margin-top: 180px;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.customer-forgetpswd-label{
  color: #11B1C7;
  font-size: 17px;
  font-weight: bold;
}
#customer-forgetpswd-textbox{
  height: 44px;
  width: 83%;
}
.customer-forgetpswd-btn{
  color: white;
  background-color: #459197;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  border-radius: 10px;
  height: 44px;
  width: 83%;
  margin-left: 40px;
}

/* Customer HomePage */

.customer-home-div1{
  background-color: #ECECEC;
  height: 15vh;
  width: 100%;
  margin-top: 140px;
  border-radius: 22px 22px 0 0;
}
.customer-home-div2{
  background-color: white;
  height: 40px;
  width: 100%;
}
.customer-home-nav-link{
  font-weight: 600;
  font-size: 20px;
  margin-top: -11px;
  word-spacing: 15px;
}
.customer-home-icon{
  margin-top: -4px;
  font-size: 20px;
  color: #515151;
}
.customer-home-about-icon{
  color: #FF971C;
  font-size: 20px;
  margin-top: -4px;
}
.customer-home-cart-icon{
  font-size: 28px;
  color: #A9A9A9;
}
.customer-home-backgoround{
  background-image: url("../../images/customerhome.png");
  height: 80vh;
  width: 116%;
  margin-left: -95px;
  border-radius: 50px;
  margin-top: 18px;
}
.customer-home-customerpage2{
  height: 90vh;
  width: 100%;
}
.customer-home-customerpage1{
  margin-top: 290px;
  height: 40vh;
  width: 100%;
}