.delivery_login_main {
  padding: 10% 2%;
  margin: 5%;
  
}
.delivery_login_form {
  padding: 2%;
  margin: 0 8%;
}

.delivery_login {
  padding-top: 5%;
  /* background-image: url("../../images/deliveryagent1.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.delivery_agent_register {
  /* background-image: url("../../images/deliveryagent2.png"); */
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 5%;
}
.delivery_agent_register_main {
  padding: 5%;
  margin: 5%;
}
.delivery_agent_register_form {
  padding: 2%;
  margin: 0 8%;
}


/* Delivery agent Login */

.delivery-agent-img{
  margin-top: 130px;
  height: 100vh;
  width: 100%;
}
.delivery-agent-box{
  margin-top: 190px;
  width: 100%;
  height: 70vh;
  top: 162px;
  left: 708px;
  gap: 0px;
  border-radius: 18px;
  background: #CAFAE2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.delivery-agent-h2{
  color: #666666;
}
.delivery-agent-login-email{
  color: #11B1C7;
  font-size: 15px;
  font-weight: bold;
}

.delivery-agent-login-textbox{
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border-color: #666666;
}

.delivery-agent-login-btn{
  height: 45px;
  width: 100%;
  background-color: #459197;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.delivery-agent-login-forgetpswd{
  text-decoration: none;
  padding-top: 10px;
  font-weight: 600;
}
.delivery-agent-login-forgetpswdlink{
  text-align: right;
}

/* Delivery Agent ForgetPassword */

.delivery-agent-img{
  height: 90vh;
  width: 100%;
}
.delivery-agent-forgetpswd-box{
  width:90%;
  height: 80vh;
  top: 191px;
  left: 900px;
  gap: 0px;
  border-radius: 18px ;
  background-color: #CAFAE2;
  margin-top: 180px;
  box-shadow: 0px 4px 4px 0px #00000040;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
.delivery-agent-forgetpswd-h1{
  padding-top: 30px;
  color: #89B7BA;
}
.delivery-agent-forgetpswd-label{
  color: #11B1C7;
  font-size: 17px;
  font-weight: bold;
}
#delivery-agent-forgetpswd-textbox{
  height: 44px;
  width: 83%;
}
.delivery-agent-forgetpswd-btn{
  color: white;
  background-color: #459197;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  border-radius: 10px;
  height: 44px;
  width: 83%;
  margin-left: 40px;
}

/* All DeliveryAgent view Page */

.alldeliveryagent-viewpage-icon{
  font-size: 30px;
  color: black;
}
.alldeliveryagent-viewpage-div1{
  background-color: #CCEDF4;
  width: 1365px;
  height: 90vh;
  top: 10px;
  left: -40px;
  gap: 0px;
  border-radius: 43px ;
  margin-bottom: 50px;
}
.alldeliveryagent-viewpage-h3{
  color: #74767B;
  text-decoration: underline;
}
#alldeliveryagent-viewpage-viewbtn{
  border: none;
  background-color: #DFDFDF;
}

/* Deliveryagent Delivery Request */

.deliveryagent-deliveryrequest-divbox{
  height: 100vh;
  width: 110%;
  background-color: #CCEDF4;
  margin-left: -95px;
  border-radius: 10px;
}
.deliveryagent-deliveryrequest-h3{
  color: #666666;
  text-decoration: underline;
}
.deliveryagent-deliveryrequest-tickbtn{
  border: 1.93px solid #3CB657;
  background-color: white;
  box-shadow: 0px 1.93px 1.93px 0px #00000040;
  border-radius: 19px;
  color:#3CB657 ;
}
.deliveryagent-deliveryrequest-wrongbtn {
  background-color: white;
  box-shadow: 0px 1.93px 1.93px 0px #00000040;
  border-radius: 19px;
  border: 1.93px solid #FF1E1E;
  color: #FF1E1E;
}