.shop_login_main{
  padding-top: 170px;
}
.shopownerhome4{
background-color: rgba(0, 0, 0, 0.638);
min-height: 90vh;
}
.shopownerprofile{
background: linear-gradient(to right, #333232, #b4aeac);
color:white;
padding:5% 15%
}
.shopownerprofilepage {
width: 100%;
border-radius: 8px; 
border:1px solid rgb(156, 155, 155);
}
.user-card-full {
overflow: hidden;
}
.shopownerprofilepagediv {
border-radius: 5px;
-webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
border: none;
margin-bottom: 30px;
}
.user-card-full .user-profile {
border-radius: 5px 0 0 5px;
}
.bg-c-lite-green {
height: fit;
}
.user-card-full .social-link li {
display: inline-block;
}
.shop-owner-pending-list-page{
overflow-x: hidden;
}
.forgot{
height: 600px;
width: 700px;
}
.text-center{
margin-top: 30px;
}
.form-control form-input{
height: 25px;
}
#submitbtn{
  padding-top: 10px;
  background-color: #459197;
  width: 430px;
  height: 50px;
  font-size: 20px;
  color: white;
}
.forgotlabel{
  color: #11B1C7;
  font-size: 17px;
  font-weight: bold;
  }
.reset{
  margin-top: 100px;
  color:#8ab8bb;
  padding-top: 30px;
}
.shopownerreg{
 background-image: url('../../images/shopownerreg.png');
 background-repeat: no-repeat;
 background-size: cover;
 height: 700px;
 width: 50%;
 /* margin-top: 100px; */
}
.col-8{
  height: 500px;
  width: 400px;
  margin-top: 300px;
}
.ownerreg{
  background-color: #CAFAE2;
  margin-top: 100px;
  border-radius: 16px;
  box-shadow: #333232; 
}
.reg{
  margin-top: 150px;
  border-radius: 16px;
}
#ownerreg{
  color: #666666;
  padding-top: 50px;
}
.shopownerimg{
  height: 600px;
  width: 600px;
  margin-top: 300px;
}
#font{
  color: #11B1C7;
}
.shopownerlogin{
  height: 500px;
  width: 600px;
  margin-top: 50px;
}
.shopownerbox{
  background-color: #cafae2;
}
.text-primary{
  margin-right: 10px;
}
.shopownerlogbtn{
 margin-top: 15px;
 height: 50px;
 width: 500px;
}
.shopownerforpass{
  text-decoration: none;
  margin-left: 300px;
  font-weight: bold;
}
.span-required{
  color: red;
}
.font{
  color:  #11B1C7;
  font-weight: bold;
}
#text{
  color: #459197;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
#regcol{
  height: 600px;
}
.shopownweracc{
  text-decoration: none;
}
#color{
 background-color: #459197;
 width: 400px;
 height: 50px;
}
#colors{
  background-color: #459197;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  margin-left: 50px;
 }
#ownerinput{
  height: 40px;
}
.txthei{
  height: 50px;
}
#text1{
  height: 44px;
  width: 300px;
  font-size: 13px;
}
.text{
  padding-bottom:10px ;
  margin-bottom: 20px;
}


/* ShopownerEditProfilePage */

.shopprofile-editpage-header{
  padding:25px;

}
#shopprofile-editpage-text2{
  height: 44px;
  width: 400px;
  font-size: 13px;
}
.shopprofile-editpage-subbtn{
  color: white;
  height: 40px;
  width: 150px;
  /* margin-left: 440px; */
  background-color: #459197;
  border-color: #459197;
  border-radius: 10px;
  border: none;
}
.shopprofile-editpage{
  background-color: #CAFAE2;
  margin-top: 100px;
  border-radius: 16px;
  box-shadow: #333232;
  padding-bottom: 20px;
}
.shopprofile-editpage-h2{
  color: #89B7BA;
  padding-top: 10px;
  /* margin-left: 10px; */
}
.shopprofile-editpage-btn{
  padding-top: 30px;
}
#shopprofile-editpage-icon{
  height: 30px;
  width: 45px;
}
.shopprofile-editpage-img{
  height: 150px;
  width: 150px;
}
.shopprofile-editpage-imgs{
  position: absolute;
  top: 145px;
  left: 80px;
  height: 190px;
  width: 190px;
}

/* ShopOwnerProfilePage */

.shopprofile-edit-header{
  padding:50px;
}
.shopprofile-edit{
  background-color: #CAFAE2;
  /* margin-top: 5px; */
  border-radius: 16px;
  box-shadow: #333232;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.shopprofile-edit-h2{
  color: #89B7BA;
  padding-top: 10px;
  /* margin-left: 10px; */
}

/* Shopowner Dashboard */

.shop-dash-color{
  background-color: #CAFAE2;
  padding-bottom: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.shop-dash-link{
  text-decoration: none;
}
.shop-dash-h5-1{
  color: black;
  font-weight: bold;
  background-color:#98FF95;
  text-align: center;
  border-radius: 20px;
  height: 30px;
}
.shop-dash-h5-2{
  color: black;
  font-weight: bold;
  background-color:#00E2E2;
  border-radius: 20px;
  height: 30px;
  text-align: center;
}
.shop-dash-h5-3{
  color: black;
  font-weight: bold;
  background-color:#BDB7FF ;
  text-align: center;
  border-radius: 20px;
  height: 30px;
}
.revenue__box{
  background: #98FF954F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.order__box{
  background: #00E2E24F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.products__box{
  background: #BDB7FF4F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shop-dash-icon{
  color: black;
  height: 30px;
  width: 30px;
}
.shop-dash-para{
  font-size: 15px;
}

/* Shopowner Add Item */

.shopowner-additem-link{
  font-size: 30px;
  margin-top: 50px;
}
.shopowner-additem-box{
  width: 100%;
  min-height: 100vh;
  margin-bottom: 5%;
  padding-bottom: 5%;
  margin-left: 70px;
  border: 7px solid #CCEDF4;
  border-radius: 43px ;
  border: 7px 0px 0px 0px;
}
.shopowner-additem-margin{
  margin-left: -30px;
}
.shopowner-additem-h1{
  color: #74767B;
  text-decoration: underline;
}
.shopowner-additem-label{
  font-size: 25px;
  color: #74767B;
  font-weight: 500;
}
.shopowner-additem-labelbox{
  width: 100%;
  height: 100px;
  border-radius: 8px;
  border: 1.41px 0px 0px 0px;
  border: 1.41px solid #9C9C9C;
}
.shopowner-additem-labelbox1{
  width: 100%;
  height: 150px;
  border-radius: 8px;
  border: 1.41px 0px 0px 0px;
  border: 1.41px solid #9C9C9C;
}
.shopowner-additem-select{
  height: 40px;
  border-radius: 5px;
  width: 80%;
  border: 1.41px solid #9C9C9C;
}
.shopowner-additem-textbox{
  height: 40px;
  border-radius: 5px;
  width: 80%;
  border: 1.41px solid #9C9C9C;
}
.shopowner-additem-textbox1{
  height: 100px;
  border-radius: 5px;
  width: 80%;
  border: 1.41px solid #9C9C9C;
}
.shopowner-additem-divimglabel{
  width: 100%;
  height: 337px;
  border-radius: 8px;
  border: 1.41px 0px 0px 0px;
  border: 1.41px solid #9C9C9C;
}
.shopowner-additem-imgupload{
  width: 183.26px;
  height: 183.26px;
  background: #EDEDED;
  border-radius: 7.97px;
  border: 1.99px 0px 0px 0px;
  border: 1.99px solid #000000;
  margin-left: 190px;
}
.shopowner-additem-btn{
  height: 44px;
  width: 120px;
  border: none;
  color: white;
  background: #459197;
  box-shadow: 0px 5.13px 5.13px 0px #00000040;
  border-radius: 10px;
}
.shopowner-additem-quantitybtn{
  border: none;
  height: 44px;
  width: 44px;
  border-radius: 10px;
  color: white;
  background-color: #D5564F;
  font-size: 30px;
  border: 1.41px solid #FFFFFF
}
.shopowner-additem-quantitybtn1{
  border: none;
  height: 44px;
  width: 44px;
  border-radius: 10px;
  color: white;
  background-color: #0176D6;
  font-size: 30px;
  border: 1.41px solid #FFFFFF
}
.shopowner-additem-textboxs{
  height: 40px;
  width: 60%;
  border-radius: 5px;
  border: 1.41px solid #9C9C9C;
  margin-left: 10px;
}
.shopowner-additem-submit{
  height: 50px;
  width: 250px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: #459197;
  box-shadow: 0px 6.56px 6.56px 0px #00000040;
  font-size: 20px;
}
.shopowner-additem-plusicon{
  font-size: 40px;
}

/* Shopowner View Product */

.shopowner-viewproduct-link{
  font-size: 25px;
}
.shopowner-viewproduct-h2{
  color: #74767B;
  text-decoration: underline;
}
.shopowner-viewproduct-divbox{
  width: 100%;
  min-height: 100vh;
  border-radius: 46px;
  box-shadow: 0px 4.29px 4.29px 0px #00000040;
  background: #CCEDF4;
  padding-bottom: 5%;
}
.shopowner-viewproduct-select{
  height: 44px;
  width: 150px;
  border: none;
  border-radius: 20px;
}
.shopowner-viewproduct-cardimg{
  height: 180px;
  /* width: 20px; */
}
.shopowner-viewproduct-card{
  height: 250px;
}
.shopowner-viewproduct-viewbtn{
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 50px;
  background-color: #DFDFDF;
  box-shadow: 0px 0.75px 1.13px 0px #0000004F;
}
.shopowner-viewproduct-button{
  text-align: right;
}

/* Shopowner ViewProduct Details */

.shopowner-viewproductdetails-link{
  font-size: 25px;
}
.shopowner-viewproductdetails-boxdiv{
  width: 100%;
  min-height: 100vh;
  border-radius: 42px;
  border: 7.15px 0px 0px 0px;
  background: #FFFFFF;
  border: 7.15px solid #CCEDF4;
  box-shadow: 0px 8.42px 8.42px 0px #00000040;
}
.shopowner-viewproductdetails-h1{
  color: #74767B;
  text-decoration: underline;
}
.shopowner-viewproductdetailslabel{
  color: #74767B;
  font-size: 25px;
  font-weight: bold;
}
.shopowner-viewproductdetailslabel1{
  color: #929292;
  font-size: 21px;
  font-weight: bold;
}
.shopowner-viewproductdetails-imgdiv img{
  width: 320px;
  height: 320px;
  border-radius: 16px;
  background: #EDEDED;
  border: 1px solid #000000;
  box-shadow: 0px 11.27px 11.27px 0px #00000040;
  margin-top: 150px;
}

.shopowner-viewproductdetails-editbtn{
    color: white;
    background-color: #459197;
    box-shadow: 0px 9.51px 9.51px 0px #00000040;
    height: 44px;
    width: 150px;
    border: none;
    border-radius: 10px;
    margin-top: 230px;
}
/* Shopowner Edit Details */

.shopowner-editproduct-details-link{
    font-size: 25px;
}
.shopowner-editproduct-tickbtn{
    border: 1.93px solid #3CB657;
    height: 44px;
    width: 150px;
    background-color: white;
    border-radius: 20px;
    color: #3CB657;
}
.shopowner-wrongproduct-img{
  height: 25px;
  width: 25px;
}
.shopowner-editproduct-wrongbtn{
    background-color: white;
    border-radius: 20px;
    border: 1.93px solid #FF1E1E;
    height: 44px;
    width: 150px;
    color: #FF1E1E;
}


/* Shopowner CustomerOrder Request */

.shopowner-customerorder-request-h3{
  color:#74767B ;
  text-decoration: underline;
}
.shopowner-customerorder-request-divbox{
  width: 105%;
  min-height: 100vh;
  border-radius: 36px;
  box-shadow: 0px 3.36px 3.36px 0px #00000040;
  background: #CCEDF4;
  margin-left: -85px;
}
.shopowner-customerorder-request-cardbox{
  border: 0.79px solid #D8D8D8;
  width: 100%;
  /* height: 58vh; */
  border-radius: 22px;
}
.hopowner-customerorder-request-h5{
  color: #11B1C7;
  font-weight: 600;
}
.hopowner-customerorder-request-label{
  color: #74767B;
  font-weight: 600;
}
.hopowner-customerorder-request-img{
  width: 70%;
  height: 60px;
}
.hopowner-customerorder-request-span{
  color: #11B1C7;
  font-weight: bold;
}
.hopowner-customerorder-request-labelsuccess{
  color: #23A421A1;
  font-weight: bold;
}
.hopowner-customerorder-request-tickbtn{
  border: 1.93px solid #3CB657;
  background-color: white;
  box-shadow: 0px 1.93px 1.93px 0px #00000040;
  border-radius: 19px;
  color:#3CB657 ;
}
.hopowner-customerorder-request-wrongbtn{
  background-color: white;
  box-shadow: 0px 1.93px 1.93px 0px #00000040;
  border-radius: 19px;
  border: 1.93px solid #FF1E1E;
  color: #FF1E1E;
}
.hopowner-customerorder-request-select{
  width: 100%;
  height: 34px;
  border-radius: 6px;
}
.hopowner-customerorder-request-submitbtn{
  color: white;
  background-color: #459197;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;
  box-shadow: 0px 1.53px 1.53px 0px #00000040;
}