
.shopownerhome4{
background-color: rgba(0, 0, 0, 0.638);
min-height: 90vh;
}
.shopownerprofile{
background: linear-gradient(to right, #333232, #b4aeac);
color:white;
padding:5% 15%
}
.shopownerprofilepage {
width: 100%;
border-radius: 8px;
border:1px solid rgb(156, 155, 155);
}
.user-card-full {
overflow: hidden;
}
.shopownerprofilepagediv {
border-radius: 5px;
-webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
border: none;
margin-bottom: 30px;
}
.user-card-full .user-profile {
border-radius: 5px 0 0 5px;
}
.bg-c-lite-green {
height: fit;
}
.user-card-full .social-link li {
display: inline-block;
}
.shop-owner-pending-list-page{
overflow-x: hidden;
}
.forgot{
height: 600px;
width: 700px;
}
.text-center{
margin-top: 30px;
}
.form-control form-input{
height: 25px;
}
#submitbtn{
  padding-top: 10px;
  background-color: #459197;
  width: 430px;
  height: 50px;
  font-size: 20px;
  color: white;
}
.forgotlabel{
  color: #11B1C7;
  font-size: 17px;
  font-weight: bold;
  }
.reset{
  margin-top: 100px;
  color:#8ab8bb;
  padding-top: 30px;
}
.shopownerreg{
 background-image: url('../../images/shopownerreg.png');
 background-repeat: no-repeat;
 background-size: cover;
 height: 700px;
 width: 50%;
 /* margin-top: 100px; */
}
.col-8{
  height: 500px;
  width: 400px;
  margin-top: 300px;
}
.ownerreg{
  background-color: #CAFAE2;
  margin-top: 100px;
  border-radius: 16px;
  box-shadow: #333232; 
}
.reg{
  margin-top: 150px;
  border-radius: 16px;
}
#ownerreg{
  color: #666666;
  padding-top: 50px;
}
.shopownerimg{
  height: 600px;
  width: 600px;
  margin-top: 300px;
}
#font{
  color: #11B1C7;
}
.shopownerlogin{
  height: 500px;
  width: 600px;
  margin-top: 50px;
}
.shopownerbox{
  background-color: #cafae2;
}
.text-primary{
  margin-right: 10px;
}
.shopownerlogbtn{
 margin-top: 15px;
 height: 50px;
 width: 500px;
}
.shopownerforpass{
  text-decoration: none;
  margin-left: 300px;
  font-weight: bold;
}
.span-required{
  color: red;
}
.font{
  color:  #11B1C7;
  font-weight: bold;
}
#text{
  color: #459197;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
#regcol{
  height: 600px;
}
.shopownweracc{
  text-decoration: none;
}
#color{
 background-color: #459197;
 width: 400px;
 height: 50px;
}
#colors{
  background-color: #459197;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  margin-left: 50px;
 }
#ownerinput{
  height: 40px;
}
.txthei{
  height: 50px;
}
#text1{
  height: 44px;
  width: 300px;
  font-size: 13px;
}
.text{
  padding-bottom:10px ;
  margin-bottom: 20px;
}


/* ShopownerEditProfilePage */

.shopprofile-editpage-header{
  padding:25px;

}
#shopprofile-editpage-text2{
  height: 44px;
  width: 400px;
  font-size: 13px;
}
.shopprofile-editpage-subbtn{
  color: white;
  height: 40px;
  width: 150px;
  /* margin-left: 440px; */
  background-color: #459197;
  border-color: #459197;
  border-radius: 10px;
  border: none;
}
.shopprofile-editpage{
  background-color: #CAFAE2;
  margin-top: 100px;
  border-radius: 16px;
  box-shadow: #333232;
  padding-bottom: 20px;
}
.shopprofile-editpage-h2{
  color: #89B7BA;
  padding-top: 10px;
  /* margin-left: 10px; */
}
.shopprofile-editpage-btn{
  padding-top: 30px;
}
#shopprofile-editpage-icon{
  height: 30px;
  width: 45px;
}
.shopprofile-editpage-img{
  height: 150px;
  width: 150px;
}
.shopprofile-editpage-imgs{
  position: absolute;
  top: 145px;
  left: 80px;
  height: 190px;
  width: 190px;
}

/* ShopOwnerProfilePage */

.shopprofile-edit-header{
  padding:50px;
}
.shopprofile-edit{
  background-color: #CAFAE2;
  margin-top: 100px;
  border-radius: 16px;
  box-shadow: #333232;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.shopprofile-edit-h2{
  color: #89B7BA;
  padding-top: 10px;
  /* margin-left: 10px; */
}

/* Shopowner Dashboard */

.shop-dash-color{
  background-color: #CAFAE2;
  padding-bottom: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.shop-dash-link{
  text-decoration: none;
}
.shop-dash-h5-1{
  color: black;
  font-weight: bold;
  background-color:#98FF95;
  text-align: center;
  border-radius: 20px;
  height: 30px;
}
.shop-dash-h5-2{
  color: black;
  font-weight: bold;
  background-color:#00E2E2;
  border-radius: 20px;
  height: 30px;
  text-align: center;
}
.shop-dash-h5-3{
  color: black;
  font-weight: bold;
  background-color:#BDB7FF ;
  text-align: center;
  border-radius: 20px;
  height: 30px;
}
.revenue__box{
  background: #98FF954F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.order__box{
  background: #00E2E24F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.products__box{
  background: #BDB7FF4F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shop-dash-icon{
  color: black;
  height: 30px;
  width: 30px;
}
.shop-dash-para{
  font-size: 15px;
}
