
.revenue__box, .order__box, .products__box, .user__box{
  padding: 20px;
  border-radius: 5px;
  height: 150px;

}

.revenue__box{
  background: #98FF954F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.order__box{
  background: #00E2E24F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.products__box{
  background: #BDB7FF4F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user__box{
  background: #FFF38B4F;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.revenue__box h5, .order__box h5, .products__box h5, .user__box h5{
  font-size: 1.1rem;
  font-weight: 500;
  color: #252525;
  margin-bottom: 20px;
}

.revenue__box span, .order__box span, .products__box span, .user__box span{
  color: #252525;
  font-weight: 600;
  font-size: 2rem;
}

.area_des{
  display: inline-block;
  background: #0d6dfd65;
  padding: 5px 15px;
  border-radius: 20px;
  
}

.admin_dashboard_main{
  padding: 0 50px;
}

.admin_dashboard_main a{
  text-decoration: none;
}
.adminlog{
  height: 700px;
  width: 800px;
}
#signin{
  padding-top: 150px;
  color:  #11B1C7;
  padding-left: 70px;
}
#textbox{
  height: 50px;
  font-size:13px ;
  color: #929292;
  border-color: #89CCC5;
  background-color: #89CCC5;
  width: 400px;
}
.font{
  color:  #11B1C7;
  font-weight: bold;
}
#text{
  background-color: #459197;
  color: white;
  border-color: #459197 ;
  width: 400px;
  margin-left: 15px;
}

/* Admin Dashboard */

.admin-dash-h5-1{
  color: black;
  font-weight: bold;
  background-color:#98FF95;
  text-align: center;
  border-radius: 20px;
  height: 30px;
}
.admin-dash-h5-2{
  color: black;
  font-weight: bold;
  background-color:#00E2E2;
  border-radius: 20px;
  height: 30px;
  text-align: center;
}
.admin-dash-h5-3{
  color: black;
  font-weight: bold;
  background-color:#BDB7FF ;
  text-align: center;
  border-radius: 20px;
  height: 30px;
}
.admin-dash-h5-4{
  color: black;
  font-weight: bold;
  background-color:#FFF38B;
  text-align: center;
  border-radius: 20px;
  height: 30px;
}
.admin-dash-link{
  text-decoration: none;
}
.admin-dash-para{
  font-size: 15px;
}
.admin-dash-icon{
  color: black;
  height: 30px;
  width: 30px;
}
.admin-dash-color{
  background-color: #CAFAE2;
  padding-bottom: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* Admin View Complaints */

.admin-customer-complaint-divbox{
  border: 5px solid #CCEDF4;
  width: 100%;
  min-height: 100vh;
  border-radius: 50px;
  padding-bottom: 20px;
}
.admin-customer-complaint-divbox1{
  min-height: 250px;
  width: 95%;
  border: 1.5px solid #9C9C9C;
  border-radius: 10px;
}
.admin-customer-complaint-label{
  color: #74767B;
  font-weight: 600;
  font-size: 19px;
}
.admin-customer-complaint-label1{
  color: #74767B;
  font-weight: 600;
}
.admin-customer-complaint-viewbtn{
  height: 30px;
  width: 10%;
  box-shadow: 0px 1.74px 2.61px 0px #0000004F;
  background-color: #DFDFDF;
  border: none;
  border-radius: 15px;
  color: #74767B;
  font-weight: 600;
}

/* Admin Customer order list */

.admin-customer-order-list-divbox{
  background-color:#CCEDF4 ;
  width: 100%;
  min-height: 100vh;
  border-radius: 20px;
}
.admin-customer-order-list-list{
  color:#74767B ;
  font-weight: 500;
}
.admin-customer-order-list-h5{
  color: #FFA800;
}
.admin-customer-complaint-label12{
  color: #74767B;
  font-weight: bold;
}
.admin-customer-complaint-success{
  color:#23A421A1 ;
  font-weight: bold;
}
.admin-customer-complaint-pending{
  color:#FF541EA1 ;
  font-weight: bold;
}
.admin-customer-order-list-list1{
  color:#74767B ;
  font-weight: bold;
}