.landingloginbtn{
    outline: none;
    padding: 4%;
    border-radius: 12px;
}
.navshadow{
    
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;

}
.shopunitytittle{
    position: absolute;
    right:60%;
    top:350px;
    font-size: 65px;
    left: 15%;
}

 a{
    text-decoration: none;
    color: black;
}
#navfixed{
    z-index: 1;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

#contact{
    padding: 3% 20%;
}
h5{
    margin-bottom: 5;
}
.landingvdo{
    height: 90vh;
    width: 80%;
    margin-top: 5;
}
