.landing-home{
    background-color: #CAFAE2;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    text-align: center;
    padding-top: 5px;
  }
  .landing-about{
    background-color: #CAFAE2;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    text-align: center;
    padding-top: 5px;
  }
  #landing-button{
    background-color: #CAFAE2;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    text-align: center;
    padding-left: 10px;
    border: none;
    margin-left: 15px;
  }
  .landing-about-icon{
    color: #FF971C;
  }
  #landing-dropdown{
    background-color: #CAFAE2;
    height: 200px;
    width: 250px;
    border: none;
    border-radius: 10px;
  }
  #landing-drop-link{
    background-color: white;
    text-align: center;
    border-radius: 16px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 230px;
  }